.head {
	width: 980px;
	margin: 0px auto 0px;
}
.head_logo {
	height: 80px;
	float: left;
	width: 700px;
}
.head_logo img {
	width: 80px;
	height: 80px;
	vertical-align: middle;
}
.logo_content {
	font-size: 30px;
	font-weight: bold;
}
.head_info {
	height: 100px;
	font-family: "微软雅黑";
}