.welcome {
	text-align: center;
	font-size: 20px;
	padding-top: 20px;
	display: block;
}
.search, .page {
	width: 980px;
	text-align: center;
	margin: 20px auto 0px;
}
.list {
	width: 980px;
	text-align: center;
	margin: 20px auto 0px;
	min-height: 300px;
}
.operation_btn {
	text-align: right;
	height: 20px;
}
.modal_window {
    display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -200px;
	background-color: #F8F8F8;
	box-shadow: 0px 0px 10px #4D4D4D;
}
.modal_window table {
	width: 100%;
	height: 70%;
}
.modal_window_title {
	font-weight: bold;
    margin-bottom: 20px;
}
.modal_window_title img {
    float: right;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.grade_window, .major_window, .teacher_window {
	width: 300px;
	height: 150px;
}
.error {
    font-size: 12px;
    color: red;
}
/*学生添加列表单独处理*/
.student_window {
	width: 300px;
	height: 220px;
}
.clazz_window {
	width: 300px;
	height: 200px;
}
.student_window table {
	width: 100%;
	height: 80%;
}
.teacher_clazz_window {
	width: 450px;
	height: 300px;
	margin-left: -225px !important;
}