.modal_window {
    display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -200px;
	background-color: #F8F8F8;
	box-shadow: 0px 0px 10px #4D4D4D;
}
.modal_window table {
	width: 100%;
	height: 70%;
}
.modal_window_title {
	font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 5px;
}
.modal_window_title img {
    float: right;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}